/* static */
/* relative */
/* absolute */
/* fixed */
/* sticky */
body {
  height: 200vh;
}

.wrapper {
  display: flex;
  background-color: rgb(139, 173, 194);
  height: 90vh;
  /* position: relative; */
}

.box {
  /* padding: 50px; */
  width: 200px;
  height: 200px;
}

#box-1 {
  background-color: coral;
  position: static;
}

#box-2 {
  background-color: dodgerblue;
  /* position: relative; */
  /* bottom: 80px; */
  /* position: absolute; */

  position: sticky;
  top: 0;
}

#box-3 {
  background-color: purple;
  position: fixed;
}
